/* codes
information
background:#FFEFCD(yelloish)RGB(255, 239, 205)
font:#304340(dark-green-blackish) RGB(48, 67, 64)
main:#22733F(green) RGB(34, 115, 63)
accent:E09132(orange) RGB(224, 145, 50)
*/

/* note lines */
main {
  width: 95vw;
  margin-top: 2.3em;
  margin-left: 2vw;
  margin-right: 2.5vw;
  margin-bottom: 1em;
  padding: 0;
  background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 5%,
      #ffefcd 0%,
      #ffefcd 100%
    ),
    linear-gradient(180deg, rgba(34, 115, 63, 0.6) 2px, transparent 1px); /* line setting  */
  background-size: 2.3em 100%, 100% 2.3em; /* line height */
  line-height: 2.3em; /* character height */
}
/* intro */
.introduction {
  width: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: 146px;
}
.introduction h1 {
  line-height: 36px;
  font-size: 45px;
}
.introduction ul {
  display: flex;
}
.introduction li {
  list-style: none;
}
.jump-1,
.jump-2 {
  margin-top: 30px;
  margin-right: 25px;
  padding-top: 5px;
  padding-bottom: 0px;
  width: 150px;
  border-radius: 3px;
  background-color: #22733f;
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
  text-align: center;
  line-height: normal;
}
.jump-1:hover {
  filter: none;
  margin-top: 32px;
  margin-left: 2px;
  margin-right: 23px;
  opacity: 0.8;
}
.jump-2:hover {
  filter: none;
  margin-top: 32px;
  margin-left: 2px;
  opacity: 0.8;
}
.introduction a {
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #ffefcd;
}
.small {
  font-size: 10px;
  vertical-align: top;
}
/* website */
#website {
  width: 50%;
  text-align: center;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}
#website p {
  font-size: 16px;
  font-weight: 600;
}
.menu_br {
  display: none;
}
.website_contents img {
  width: 65px;
  height: 65px;
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
}
.design,
.development {
  margin-top: 3px;
  display: flex;
  align-content: space-between;
  width: 115%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
h3 {
  width: 100%;
  text-align: left;
  margin-top: 3px;
  font-weight: 400;
}
section {
  white-space: nowrap;
  display: flex;
}
.website_contents ul {
  margin-top: 30px;
  margin-left: -20px;
  margin-right: 20px;
  padding: 10px 20px;
  width: 180px;
  list-style: none;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2em;
  border: 2px solid #e09132;
}
.title {
  font-size: 16px;
  margin-bottom: 3px;
  font-weight: 600;
}
.price {
  text-align: right;
  font-weight: 600;
  font-size: 15px;
}
.development_title {
  margin-top: 48px;
  line-height: 25px;
}
.development_title span {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  white-space: nowrap;
}
.development {
  margin-top: 10px;
}
/* option */
.option {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3em;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.option table {
  margin-top: 20px;
  width: 100%;
  line-height: normal;
  white-space: nowrap;
  border-collapse: collapse;
  border: none;
}
.option th,
td {
  padding: 10px;
  border: none;
  border-left: 2px solid rgba(224, 145, 50, 0.4);
  border-top: 2px solid rgba(224, 145, 50, 0.4);
}

.option td:first-child,
th:first-child,
.null,
.null-1,
.null_top-1 {
  border-left: none;
}
.option tr:first-child td,
tr:first-child th {
  border-top: none;
}
.null,
.null_top,
.null_top-1 {
  border-top: none;
}
.option th {
  font-size: 14px;
  font-weight: 600;
}
.option td {
  font-size: 14px;
  font-weight: 600;
}
/* package */
#package {
  margin-top: 20px;
  width: 60%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.package_menu table {
  width: 75%;
  margin-top: 30px;
  padding: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.package_menu th,
.package_menu td {
  border: none;
  text-align: left;
  letter-spacing: 0.3em;
  font-size: 16px;
  font-weight: 600;
}
.package_menu td {
  padding-left: 50px;
}
.order_button img {
  margin-top: 25px;
  margin-bottom: 80px;
  transform: rotate(-2deg);
  width: 200px;
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.3));
}
.order_button:hover img {
  opacity: 0.8;
}
/* -------------------
ipad landscape
------------------- */

@media screen and (max-width: 1280px) {
  .introduction {
    width: 68%;
  }
  #website {
    width: 68%;
  }
  .design,
  .development {
    margin-top: 3px;
    display: flex;
    align-content: space-between;
    width: 110%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
/* ----------------
ipad portrate
----------------- */
@media (max-width: 835px) {
  /* intro */
  .introduction {
    width: 85%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 146px;
  }
  /* website */
  #website {
    width: 85%;
    text-align: center;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .website_contents img {
    width: 60px;
    height: 60px;
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
  }
  .design,
  .development {
    margin-top: 3px;
    display: flex;
    align-content: space-between;
    width: 100%;
    position: relative;
    left: 45%;
    transform: translate(-50%, 0);
  }
  h3 {
    text-align: left;
    margin-top: 3px;
    font-weight: 400;
  }
  section {
    white-space: nowrap;
    display: flex;
  }
  .website_contents ul {
    margin-top: 30px;
    margin-left: -25px;
    margin-right: 8px;
    padding: 10px 20px;
    width: 150px;
    list-style: none;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1em;
    border: 2px solid #e09132;
  }
  .title {
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: 600;
  }
  .price {
    text-align: right;
    font-weight: 600;
    font-size: 15px;
  }
  .development_title {
    margin-top: 48px;
    line-height: 25px;
  }
  .development_title span {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    white-space: nowrap;
    letter-spacing: 0.2em;
  }
  .development {
    margin-top: 10px;
  }
  .option {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2em;
    width: 75%;
    margin-top: 30px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  /* package */
  #package {
    margin-top: 20px;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
  }
}

/* ----------------
mobile
----------------- */
@media (max-width: 428px) {
  main {
    width: 95vw;
    margin-top: 2.3em;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 1em;
    padding: 0;
    background-image: linear-gradient(
        90deg,
        transparent 0%,
        transparent 5%,
        #ffefcd 0%,
        #ffefcd 100%
      ),
      linear-gradient(180deg, rgba(34, 115, 63, 0.6) 2px, transparent 1px); /* line setting  */
    background-size: 1.8em 100%, 100% 1.8em; /* line height */
    line-height: 1.8em; /* character height */
  }
  h2 {
    font-size: 24px;
  }
  /* intro */
  .introduction {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 146px;
  }
  .introduction h1 {
    line-height: 30px;
    font-size: 28px;
  }
  .introduction ul {
    display: flex;
  }
  .introduction li {
    list-style: none;
  }
  .jump-1,
  .jump-2 {
    margin-top: 30px;
    margin-right: 25px;
    padding-top: 5px;
    padding-bottom: 0px;
    width: 100px;
    border-radius: 3px;
    background-color: #22733f;
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
    text-align: center;
    line-height: normal;
  }
  .introduction a {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #ffefcd;
  }
  .small {
    font-size: 10px;
    vertical-align: top;
  }
  /* website */
  #website {
    text-align: center;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  #website p {
    font-size: 14px;
    font-weight: 600;
  }
  .menu_br {
    display: block;
  }
  .website_contents {
    margin-top: 10px;
    width: 98%;
  }
  .website_contents img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
  }
  .design,
  .development {
    margin-top: 3px;
    display: flex;
    align-content: space-between;
    width: 100%;
    position: relative;
    left: 0%;
    transform: translate(0, 0);
    overflow-x: scroll;
  }
  .design section,
  .development section {
    flex-shrink: 0;
  }
  .design::-webkit-scrollbar,
  .development::-webkit-scrollbar {
    height: 8px; /* スクロールバーの高さ */
  }
  .design::-webkit-scrollbar-thumb,
  .development::-webkit-scrollbar-thumb {
    background: #22733f; /* ツマミの色 */
    border-radius: 4px; /* ツマミ両端の丸み */
  }
  .design::-webkit-scrollbar-track,
  .development::-webkit-scrollbar-track {
    background: rgba(34, 115, 63, 0.3); /* トラックの色 */
    border-radius: 6px; /* トラック両端の丸み */
  }
  h3 {
    width: 100%;
    text-align: left;
    margin-top: 3px;
    font-weight: 500;
    font-size: 16px;
  }
  section {
    white-space: nowrap;
    display: flex;
  }
  .website_contents ul {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: 10px;
    padding: 10px 20px;
    width: 180px;
    list-style: none;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2em;
    border: 2px solid #e09132;
  }
  .title {
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: 600;
  }
  .price {
    text-align: right;
    font-weight: 600;
    font-size: 15px;
  }
  .development_title {
    margin-top: 48px;
    line-height: 25px;
  }
  .development_title span {
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    white-space: normal;
  }
  .development {
    margin-top: 10px;
  }
  /* option */
  .option {
    margin-top: 30px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    width: 95vw;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .option table {
    margin-top: 20px;
    width: 90%;
    line-height: normal;
    border-collapse: collapse;
    border: none;
    white-space: normal;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .option span {
    display: inline-block;
  }
  .option th,
  td {
    padding: 5px 0px;
    border: none;
    border-left: 2px solid rgba(224, 145, 50, 0.4);
    border-top: 2px solid rgba(224, 145, 50, 0.4);
  }

  .option td:first-child,
  th:first-child,
  .null,
  .null-1,
  .null_top-1 {
    border-left: none;
  }
  .option tr:first-child td,
  tr:first-child th {
    border-top: none;
  }
  .null,
  .null_top,
  .null_top-1 {
    border-top: none;
  }
  .option th {
    font-size: 10px;
    font-weight: 700;
  }
  .option td {
    font-size: 10px;
    font-weight: 700;
  }
  /* package */
  #package {
    margin-top: 20px;
    width: 80vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
  }

  .package_menu table {
    width: 80vw;
    margin-top: 30px;
    padding: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .package_menu th,
  .package_menu td {
    border: none;
    text-align: left;
    letter-spacing: 0.1em;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }
  .package_menu td {
    padding-left: 30px;
  }
  .order_button img {
    margin-top: 25px;
    margin-bottom: 80px;
    transform: rotate(-2deg);
    width: 150px;
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.3));
  }
  .order_button:hover img {
    opacity: 0.8;
  }
}
