/* codes
information
background:#FFEFCD(yelloish)
font:#304340(dark-green-blackish)
main:#22733F(green)
accent:E09132(orange)
*/

/* -------------------
background color
---------------------- */
body {
  background-color: #ffefcd;
  /* background-image: url("/img/background.png"); */
  background-size: 100%;
  background-position: top;
}

/*------------------
 font setting 
en: Inter(google fonts)
jp: Noto Sans JP(google fonts)*/

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 
---------------------------------------------------------*/

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.noto-sans-regular jp- {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-sans-medium jp- {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.noto-sans-semibold jp- {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.noto-sans-bold jp- {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "roboto", "Noto Sans JP", sans-serif;
  color: #304340;
}
h1 {
  font-size: 45px;
  letter-spacing: 0.3em;
  line-height: 50px;
  font-weight: 700;
}
h2 {
  font-size: 28px;
  letter-spacing: 0.2em;
  font-style: italic;
  font-weight: 800;
  text-align: center;
}
h3 {
  font-size: 18px;
  letter-spacing: 0.3em;
  font-weight: 400;
  text-align: center;
}
/*-----------
 header 
 ---------------*/
.header_contents {
  height: 80px;
  margin: 0;
  display: flex;
  align-items: center;
  color: #22733f;
  font-weight: 700;
  font-size: 1.2vw;
  letter-spacing: 0.25em;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: space-around;
  position: relative;
}
/* logo */
.logo img {
  margin: 0;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
}
/* lang */
.lang {
  margin: auto;
  display: flex;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}
.lang dt {
  font-size: 0.8vw;
  text-align: center;
}
.lang_dd-jp,
.lang_dd-en {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  font-size: 1.2vw;
}
/* -----
jp
--------*/
.box-1 {
  /* box */
  height: 1.7vw;
  width: 8vw;
  background-color: #ffefcd;
  border: 3px solid #22733f;
  border-radius: 3px;
  padding: auto;
  margin: 5px;
  margin-left: 1px;
  margin-right: 1px;
  /* letter */
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5vw;
  text-decoration: none;
  color: #22733f;
}
.box-2 {
  /* box */
  height: 1.7vw;
  width: 8vw;
  background-color: #22733f;
  border: 3px solid #22733f;
  border-radius: 3px;
  padding: auto;
  margin: 5px;
  margin-left: 1px;
  margin-right: 1px;
  /* letter */
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5vw;
  text-decoration: none;
  color: #ffefcd;
}
.box-1:hover,
.box-2-en:hover {
  filter: drop-shadow(-1px -1px 0 rgb(34, 115, 63));
  margin-top: 6px;
  margin-left: 2px;
  margin-right: 0px;
}
.box-2:hover,
.box-1-en:hover {
  filter: drop-shadow(-1px -1px 0 rgb(91, 146, 110));
  margin-top: 6px;
  margin-left: 2px;
  margin-right: 0px;
}
/* -----
en 
--------*/
.box-2-en {
  /* box */
  height: 1.7vw;
  width: 8vw;
  background-color: #ffefcd;
  border: 3px solid #22733f;
  border-radius: 3px;
  padding: auto;
  margin: 5px;
  margin-left: 1px;
  margin-right: 1px;
  /* letter */
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5vw;
  text-decoration: none;
  color: #22733f;
}
.box-1-en {
  /* box */
  height: 1.7vw;
  width: 8vw;
  background-color: #22733f;
  border: 3px solid #22733f;
  border-radius: 3px;
  padding: auto;
  margin: 5px;
  margin-left: 1px;
  margin-right: 1px;
  /* letter */
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5vw;
  text-decoration: none;
  color: #ffefcd;
}
/* nav */
.header_nav ul {
  display: flex;
  column-gap: 3vw;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0, -50%);
  list-style: none;
}
.header_nav a {
  text-decoration: none;
  color: #22733f;
  font-weight: 800;
  font-size: 1.2vw;
  letter-spacing: 0.25em;
}
/* top line */
.header_contents hr {
  background-color: #22733f;
  height: 2px;
  width: 97vw;
  border-radius: 1px;
  margin: auto;
  align-items: "center";
  position: absolute;
  bottom: 0;
}
/* footer */
footer hr {
  background-color: #22733f;
  height: 2px;
  width: 97vw;
  border-radius: 1px;
  margin: auto;
  align-items: "center";
}
.footer_contents {
  height: 85px;
  color: #22733f;
  font-weight: 400;
  font-size: 1vw;
  letter-spacing: 0.25em;
  text-align: center;
  line-height: 85px;
}

/* ----------------
ipad portrate
----------------- */

@media (max-width: 835px) {
  .lang dt {
    font-size: 1vw;
    text-align: center;
  }
  /* -----
jp
--------*/
  .box-1 {
    /* box */
    height: 1.7vw;
    width: 8vw;
    background-color: #ffefcd;
    border: 2px solid #22733f;
    border-radius: 3px;
    padding: auto;
    margin: 5px;
    margin-left: 1px;
    margin-right: 1px;
    /* letter */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5vw;
    text-decoration: none;
    color: #22733f;
  }
  .box-2 {
    /* box */
    height: 1.7vw;
    width: 8vw;
    background-color: #22733f;
    border: 2px solid #22733f;
    border-radius: 3px;
    padding: auto;
    margin: 5px;
    margin-left: 1px;
    margin-right: 1px;
    /* letter */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5vw;
    text-decoration: none;
    color: #ffefcd;
  }
  .box-1:hover,
  .box-2-en:hover {
    filter: drop-shadow(-1px -1px 0 rgb(34, 115, 63));
    margin-top: 6px;
    margin-left: 2px;
    margin-right: 0px;
  }
  .box-2:hover,
  .box-1-en:hover {
    filter: drop-shadow(-1px -1px 0 rgb(91, 146, 110));
    margin-top: 6px;
    margin-left: 2px;
    margin-right: 0px;
  }
  /* -----
en 
--------*/
  .box-2-en {
    /* box */
    height: 1.7vw;
    width: 8vw;
    background-color: #ffefcd;
    border: 2px solid #22733f;
    border-radius: 3px;
    padding: auto;
    margin: 5px;
    margin-left: 1px;
    margin-right: 1px;
    /* letter */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5vw;
    text-decoration: none;
    color: #22733f;
  }
  .box-1-en {
    /* box */
    height: 1.7vw;
    width: 8vw;
    background-color: #22733f;
    border: 2px solid #22733f;
    border-radius: 3px;
    padding: auto;
    margin: 5px;
    margin-left: 1px;
    margin-right: 1px;
    /* letter */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5vw;
    text-decoration: none;
    color: #ffefcd;
  }
}

/* ----------------
mobile
----------------- */
@media (max-width: 428px) {
  /*-----------
 header 
 ---------------*/
  .header_contents {
    height: 60px;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    color: #22733f;
    font-weight: 700;
    font-size: 8px;
    letter-spacing: 0.25em;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: space-around;
    position: relative;
  }
  /* logo */
  .logo img {
    margin: 0;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
  }
  /* lang */
  .lang {
    display: flex;
    flex-flow: row;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(0, -50%);
    margin-right: 5px;
  }
  .lang dt {
    font-size: 0px;
    text-align: center;
  }
  .lang_dd-jp,
  .lang_dd-en {
    column-gap: 8px;
    font-size: 8px;
  }
  /* -----
jp
--------*/
  .box-1 {
    /* box */
    height: 10px;
    width: 50px;
    background-color: #ffefcd;
    border: 2px solid #22733f;
    border-radius: 3px;
    padding: 1px;
    margin: 5px;
    margin-left: 1px;
    margin-right: 1px;
    /* letter */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    text-decoration: none;
    color: #22733f;
  }
  .box-2 {
    /* box */
    height: 10px;
    width: 50px;
    background-color: #22733f;
    border: 2px solid #22733f;
    border-radius: 3px;
    padding: 1px;
    margin: 5px;
    margin-left: 1px;
    margin-right: 1px;
    /* letter */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    text-decoration: none;
    color: #ffefcd;
  }
  .box-1:hover,
  .box-2-en:hover {
    filter: drop-shadow(-1px -1px 0 rgb(34, 115, 63));
    margin-top: 6px;
    margin-left: 2px;
    margin-right: 0px;
  }
  .box-2:hover,
  .box-1-en:hover {
    filter: drop-shadow(-1px -1px 0 rgb(91, 146, 110));
    margin-top: 6px;
    margin-left: 2px;
    margin-right: 0px;
  }
  /* -----
en 
--------*/
  .box-2-en {
    /* box */
    height: 10px;
    width: 50px;
    background-color: #ffefcd;
    border: 2px solid #22733f;
    border-radius: 3px;
    padding: 1px;
    margin: 5px;
    margin-left: 1px;
    margin-right: 1px;
    /* letter */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    text-decoration: none;
    color: #22733f;
  }
  .box-1-en {
    /* box */
    height: 10px;
    width: 50px;
    background-color: #22733f;
    border: 2px solid #22733f;
    border-radius: 3px;
    padding: 1px;
    margin: 5px;
    margin-left: 1px;
    margin-right: 1px;
    /* letter */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    text-decoration: none;
    color: #ffefcd;
  }
  /* nav */
  .header_nav ul {
    display: flex;
    column-gap: 15px;
    position: absolute;
    top: 70%;
    margin-right: 5px;
    list-style: none;
  }
  .header_nav a {
    text-decoration: none;
    color: #22733f;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 0.1em;
  }
}
