
.container img {
  width: 60vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 5vh;
  margin-bottom: 5vh;
}
/* ----------------
max-width: 835px
----------------- */
@media (max-width: 835px) {
    .container img {
        width: 80vw;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 20vh;
        margin-bottom: 20vh;
      }
}